


.demo { font-family: 'JetBrains Mono', monospace; ; font-size: 32px  }

.text { color: #C8C8C8 } /* 200 + 200 + 200 = */

/* HIGH VIS ~ 500 */

.keyword { color: #64B4DC }                             /* 100 + 180 + 220 = 500 */
.parameter { color: #64DCB4 }                           /* 100 + 220 + 180 = 500 */

.field { color: #DC64B4}                                /* 220 + 100 + 180 = 500 */
.static-field  { color: #B464DC ; font-style: italic; } /* 180 + 100 + 220 = 500 */


.annotation { color: #B464DC }                          /* 180 + 100 + 220 = 500 */
.local-variable { color: #A5A5AA }                      /* 165 + 165 + 170 = 500 */
.method {color : #C8C864 }                              /* 200 + 200 + 100 = 500 */
.static-method {color: #DCB464; font-style: italic; }   /* 220 + 180 + 100 = 500 */

/* MEDIUM VIS ~ 400 */

.string{ color: #6EAA6E }                               /* 110 + 170 + 110 = 400 */
.comment { color: #96C896 }                             /* 150 + 200 + 150 = 500 */

/* LOW VIS ~ 300 */


/* ERRORS */
.error {color: #FA4B4B; } /* 250 + 75 + 75 = 400 */
.warning {color: #FF9100; } /* 255 + 145 + 0 = 400 */
.weak-warning {color: #91FF00;} /* 145 + 255 + 0 = 400 */


